server/service-account-key.json
/server/node_modules
harvest/macos/Flutter/GeneratedPluginRegistrant.swift
/harvest/android/app/.cxx/Debug/2l1g6e2l/x86_64/.cmake/api/v1/reply
/harvest/android/app/.cxx/Debug/2l1g6e2l/x86/.cmake/api/v1/reply
/harvest/android/app/.cxx/Debug/2l1g6e2l/armeabi-v7a/.cmake/api/v1/reply
/harvest/android/app/.cxx/Debug
harvest/macos/Flutter/GeneratedPluginRegistrant.swift
harvest/macos/Flutter/GeneratedPluginRegistrant.swift
/harvest/android/app/.cxx/Debug
